/**
 * Created by Johannes Grupp
 * www.jgrp.de
 */

/*
box shadow window
0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1)
*/

/*@import url(http://fonts.googleapis.com/css?family=Exo:100,200,300,300italic,500);*/
/*@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,600,700);*/
@import url(https://fonts.googleapis.com/css?family=Exo+2:500,300,200,100);

body {
    color: #777;
    font-family: 'Exo 2', 'Titillium Web', Exo, sans-serif;
    font-weight: 300;
    background-color: #eee;
}

h1, h2, h3 {
    font-family: exo;
}
h1 {

    font-weight: 200;
  background-color: #006699;
  color: #eee;
  padding: 10px;
  line-height: 55px;
    margin-bottom: 40px;
}
h2 {
    font-weight: 100;
    /*background-color: #EEEEEE;*/
    /*padding: 5px;*/
}
h3 {
    font-weight: 300;
    font-size: 18px;
    color: #006699;
    margin-bottom: 3px;
}

ul {
    margin: 0;
    padding: 0;
}
strong {
    font-weight: 500;
}


#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;

    margin-left: 90px;
}

#headerBig {
     font-size: 50pt;
     font-weight: 100;
     color: #ccc;
     text-align: right;
}

#headerSmall {
    background-color: #6C6C6C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    color: #EEEEEE;
    font-size: 17pt;
    font-weight: 200;
    left: 0;
    line-height: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#headerSmall #smallHeaderIcon {
    color: #EEEEEE;
    font-size: 0.7em ;
    font-weight: 600;
}

#headerSmall #smallHeaderTitle{
    color: #EEEEEE;
    text-align: right;
}


#menu {
    background-color: #c7c7c7;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 75px;
    /*box-shadow: 1px 0 5px rgba(0, 0, 0, 0.6);*/
    text-align: center;
    z-index: 100;
}


#menu #menuIcons li{
    list-style-type: none;
    height: 75px;
    width: 75px;
    cursor: pointer;
    font-size: 23pt;
    position: relative;
}

#menu #menuIcons li .menuButton {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    transition: all 0.5s;
}

#menu #menuIcons li .menuButton:active, #menu #menuIcons li .menuButton.active {
    background-color: #2c3e50;
    color: #c7c7c7;
}

#menu #menuIcons li .menuButton:hover {
    background-color: #006699;
    color: #222;
}

.bigMenuTitle {
    display: block;
    font-size: 8pt;
    margin: auto;
    position: relative;
    text-align: center;
    top: -21px;
    pointer-events: none;
    color: #222222;
    display: none;
    transition: all 0.5s;
}

.bigMenuTitle.show {
    display: block;
}


.menuLabel {
    font-weight: 500;
}


#menuSmall {
    margin-bottom: 50px;
    margin-top: 60px;
}


#menuSmall .menuButton {
    background-color: #2C3E50;
    border-radius: 2px;
    color: #EEEEEE;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 200;
    line-height: 40px;
    margin: 5px 0;
    padding-left: 15px;

    transition: all 0.5s;
}

#menuSmall .menuButton:hover {
    background-color: #006699;
}

#menuSmall .menuButton .icon {
    position: relative;
    top: 1px;
    color: #eee;
    font-weight: 100;
    margin-right: 13px;
    font-size: 1.2em;
}

#menuSmall .col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
}


.menuPopout {
    position: absolute;
    top: 0;
    left: 0;
    /*height: 75px;*/
    display: inline-block;
    background-color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #c7c7c7;
    font-weight: 300;
    padding: 20px;
    border-radius: 3px;
    font-weight: 300;
}


#siteTitle {
    font-size: 16pt;
    font-weight: 200;
    margin-bottom: 85px;
}

.imgCont {
    margin-bottom: 40px;
}

.imgCont .image {
    display: inline-block;
    list-style-type: none;
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3px;
    cursor: pointer;
    background-color: #2C3E50;
}

#footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10pt;
    font-weight: 300;
}


/*Video*/
.videoItem {
    margin-bottom: 60px;
    margin-top: 30px;
    background-color: white;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.videoItem .videoContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.videoFrame {
    background-color: #2C3E50;
}


/*3D*/

.imgKerze {
    width: 100%;
    height: 100%;
    background-image: url('dreid/kerze.jpeg');
    background-color: #2C3E50;
    background-size: cover;
    background-position: bottom;
}

.imgKawasaki {
    position: relative;
}


.imgkawa {

}
.imgkawa1 {
    height: 100%;
    background-image: url('dreid/maya2.jpg');
    background-color: #2C3E50;
    background-size: cover;
    background-position: right;
    border-right: 2px solid white;

    position: absolute;
    top:0;
}
.imgkawa2 {
    height: 50%;
    background-image: url('dreid/maya1.jpg');
    background-color: #2C3E50;
    background-size: cover;
    background-position: center;

    border-left: 2px solid white;
    border-bottom: 1px solid white;

    position: absolute;
    top:0;
    right: 0;
}
.imgkawa3 {
    height: 50%;
    background-image: url('dreid/maya3.jpg');
    background-color: #2C3E50;
    background-size: cover;
    background-position: bottom;

    border-left: 2px solid white;
    border-top: 1px solid white;

    position: absolute;
    bottom:0;
    right: 0;
}

/* gestaltung */

.printRow > div {
    margin-bottom: 40px;
}

#printDesign img {
    background-color: #2C3E50;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


/* websites*/

.websiteItem {
    background-color: white;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;

}

.websiteText {
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*padding-bottom: 5px;*/
}


.websiteFrame {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #2C3E50;
}

.webFhMap{
    background-image: url('websites/fh-map.png');
}
.webCornelia {
    background-image: url('websites/cornelia.png');
}
.webToskana{
    background-image: url('websites/landhaus.png');
}
.webVR {
    background-image: url('websites/vrundgang.png');
}
.webJgrp {
    background-image: url('websites/jgrp.jpg');
}
.webWeid {
     background-image: url('websites/weidside.png');
 }

.websiteText .subTitle {
    font-weight: 200;
}

.webUrlButton {
    background-color: #d5d5d5;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    line-height: 40px;
    color: #444;
    transition: background-color 0.2s ;
}

.webUrlButton:hover {
    background-color: #d0d0d0;
}

textarea.form-control {
    resize: vertical;
}



/* bootstrap override */

.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    border-color: #006699;
}